body{
    box-sizing: border-box;
}
main{
    background-color: black;
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.box{
    background-image: url(/images/b11424111893819.600a226113373.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 500px;
    width: 800px;
    background-color: white;
    padding: 20px;
}

.text{
    width: 75%;
    position: absolute;
    bottom: 20px;
    left: 30px;
    
}