* {
  margin: 0;
  overflow: hidden;
}
main {
  
  margin: 0px auto;
  max-width: 1024px;
  height: 100%;
}
nav {
  display: flex;
}
#home {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height:100%;
}
a {
 
  text-decoration: none;
  color: inherit;
}
nav > ul {
  margin: 0;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 109px;
}
nav > ul > li {
  display: block;
  font-size: 18px;
  letter-spacing: 0.205em;
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: 700;
}
header {
  z-index: 3;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: right;
  min-height: 75px;
  width: 100%;
  background-color: white;
}
.img {
  z-index: 2;
  position: relative;
  width: 1000px;
  height: 382px;
  top: calc(75px + 4px);
  margin: 0 auto;
}
.img img {
  border-radius: 17px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.statement {
  z-index: 2;
  font-size: 64px;
  font-family: Nunito;
  text-align: center;
  margin-top: 100px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.155em;
  line-height: 103%;
}
button {
  z-index: 2;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.335em;
  text-transform: uppercase;
  height: 84px;
  width: 338px;
  margin: 0 auto;
  border: none;
  background: #51ffc0;
  border-radius: 22px;
  margin-top: 20px;
  cursor: pointer;
}
.bler {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(253, 253, 253, 0.05);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
}
.circle {
  position: absolute;
  width: 608px;
  height: 602px;
  left: -110px;
  top: 353px;
  border-radius: 50%;
  background: #ff5190;
}

.circle2 {
  position: absolute;
  width: 608px;
  height: 602px;
  right: 0px;
  top: -75px;
  border-radius: 50%;
  background: #ff5190;
}
.circle3{
  position: absolute;
  height: 300px;
  width: 300px;
  background: #ff5190;
  border-radius: 50%;
  bottom:-200px;
  left: 600px;
}