body {
  font-family: Roboto;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-family: Roboto;
  height: 667px;
}

.container {
  overflow: hidden;
  display: flex;
  width: 658px;
  height: 280px;
  background-color: lightgray;
}
.box1 {
  z-index: 2;
  overflow: hidden;
  width: 267px;
  max-height: 280px;
  background: rgba(0, 87, 106, 0.76);
  backdrop-filter: blur(4.5px);
}
.box2 {
    z-index: 2; 
  width: 392px;
  min-height: 280px;
}
.box2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#price {
  font-weight: 700;
  margin-left: 25px;
  margin-top: 50px;
  font-size: 40px;
  margin-bottom: 0;
}
#discription {
  text-transform: uppercase;
  margin-left: 27px;
  margin-top: 11px;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
}
#c {
  margin-bottom: 0;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  font-variant: small-caps;
  letter-spacing: 0.3rem;
}
button {
  text-transform: uppercase;
  border: none;
  border-radius: 7px;
  letter-spacing: 2px;
  min-height: 40px;
  min-width: 211px;
  margin-top: 23px;
  margin-left: 25px;
}
button:hover {
  background-color: rgb(255, 191, 107);
}
.box3 {
    position: relative;
}
.box5 {
  z-index: 1;
  position: absolute;
  width: 158px;
  height: 152px;
  left: -288px;
  top: 177px;
  border-radius: 50%;
  background: rgba(52, 77, 211, 0.64);
  filter: blur(2.5px);
}
.box6{
    position: absolute;
width: 158px;
height: 152px;
left: -157px;
top: -62px;
border-radius: 50%;
background: rgba(52, 77, 211, 0.64);
filter: blur(2.5px);
}
.box7{
    position: absolute;
width: 57px;
height: 55px;
left: -141px;
top: 96px;
border-radius: 50%;
background: rgba(52, 77, 211, 0.64);
filter: blur(2.5px);
}